<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>layedit demo</title>
    <link href="../../Content/Layui-KnifeZ/css/layui.css" rel="stylesheet" />
    <script src="../../layui.js"></script>
    <script src="../../Content/ace/ace.js"></script>
    <script src="../../js/ip.js"></script>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item layui-form-text">
            <textarea id="layeditDemo"></textarea>
        </div>
    </form>
    <script>
        var layedit;
        var ieditor;
        layui.use(['layedit', 'layer', 'jquery', 'form'], function () {
            var $ = layui.jquery;
            layedit = layui.layedit;
            var form = layui.form;
            layedit.set({
                //暴露layupload参数设置接口 --详细查看layupload参数说明
                uploadImage: {
                    url:  Api + '/upload/layUploadImage',
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: '10240'
                }
                , uploadVideo: {
                    url: Api + '/upload/layUploadVideo',
                    accept: 'video',
                    acceptMime: 'video/*',
                    exts: 'mp4|flv|avi|rm|rmvb'
                }
                //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
                //传递参数：
                //图片： imgpath --图片路径
                //视频： filepath --视频路径 imgpath --封面路径
                , calldel: {
                    url: '/Attachment/DeleteFile'
                }
                //开发者模式 --默认为false
                , devmode: true
                //插入代码设置
                , codeConfig: {
                    hide: true,  //是否显示编码语言选择框
                    default: 'javascript' //hide为true时的默认语言格式
                }
                , tool: [
                    'html', 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'video', 'anchors'
                    //, '|', 'fullScreen'
                ]
                , height: '90%'
            });
            ieditor = layedit.build('layeditDemo',{
                height: 450
            });

            //监听提交
            form.on('submit(demo1)', function(data){
                console.log(layedit.getContent(ieditor));
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);
                return false;
            });
        });

        function getContent() {
            alert(layedit.getContent(ieditor));
        }
    </script>
</body>
</html>